[submodule "Externals/rttr"]
	path = Externals/rttr
	url = https://github.com/rttrorg/rttr
[submodule "Externals/cereal"]
	path = Externals/cereal
	url = https://github.com//USCiLab/cereal
[submodule "Externals/imgui"]
	path = Externals/imgui
	url = https://github.com/ocornut/imgui
